/* Global ----- */

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 100%;
}

h1 {
    font-family: 'Arvo', serif;
    margin: 0px auto;
}

nav {
    margin: 0px auto;
}

nav ul {
    padding: 0px;
}

nav li {
    border-radius: 5px;
    display: inline-block;
    float: left;
    font-size: 1.25rem;
    margin: 10px;
    padding: 10px;
}
