/* Global ----- */

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 100%;
}

h1.name {
    border-bottom: 5px solid #03476A;
    color: #03476A;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 6rem;
    margin: 0px auto;
    padding-bottom: 10px;
}

p.desc {
    font-size: 1.25rem;
    margin: 20px 0px;
}

nav {
    background-color: #03476A;
    color: #FFF;
    margin: 0px auto;
    width: 100%;
}

.nav-title {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 10px;
    margin-right: 20px;
    padding: 5px;
}

.nav-link {
    margin: 15px 10px;
    padding: 5px;
}

.nav-link-ext {
    float: right;
    font-size: 1.25rem;
    margin: 12px 10px;
    padding: 5px;
}

nav a:link,
nav a:hover,
nav a:visited {
    color: #FFF;
    text-decoration: none;
}

nav ul {
    padding: 0px;
}

nav li {
    border-radius: 5px;
    display: inline-block;
    float: left;
    font-size: 1rem;
}

.announce {
    background-color: lightgray;
    padding: 5px 10px;
    text-align: center;
    width: 100%;
}

.btn-info {
    background-color: #00DFFD;
    border-color: #00DFFD;
    color: #03476A;
    font-weight: 700;
}

.btn-info:hover {
    background-color: #03476A;
    border-color: #03476A;
    color: #FFF;
}
